.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  padding: 20px 0; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed; 
  width: 100%;
  top: 0; 
  left: 0; 
}

.App-header nav ul {
  list-style-type: none;
  padding: 0;
  display: flex; 
  justify-content: center; 
  margin: 0 auto;
}

.App-header nav ul li {
  margin: 0 10px; 
}

.App-header nav ul li a {
  text-decoration: none;
  color: #000;
}

.App-main {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: calc(100vh - 60px); 
  margin-top: 60px;
  flex-direction: column; 
}

.Hero {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.Hero h1 {
  font-size: 4em;
}

.Hero p {
  color: #666;
}

.JoinButton {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  padding: 10px 20px; /* Padding for size */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1em; /* Text size */
  margin-top: 20px; /* Space from top */
}

figure {
  margin-top: 20px;
}

figure img {
  max-width: 300px;
  height: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  float: right;
  cursor: pointer;
  font-size: 1.5em;
}

.modal-content button {
  margin-top: 20px;
}



 /* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 360px;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  max-width: 150px;
  margin-bottom: 20px;
}

h4 {
  color: #fff;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
}

.button {
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #218838;
}

.link {
  color: #28a745;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

p {
  color: #fff;
  text-align: center;
}
 */